.img-pfp {
    object-fit: cover;
    height: 500px;
    width: 500px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.mezzo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* seleziono tutti i p che stanno dentro a contatti  */
.contatti p {
    display: flex;
    align-items: center;
}

.passioni {
    height: 80vh;
    border: 2px solid white;
}

.cv-2 {
    border: 2px solid lightblue;
}

.container-cv {
    display: flex;
}

.row1, .row2 {
    flex: 1;
}

.row2 {
    display: flex;
    justify-content: end;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}